<% include elements/header %>

	<div class="container">
		<h2>Novo Restaurante</h2>
		<p class=""><a href="/restaurantes" class="">Listar Restaurantes</a>
			<p/>
			<form method="post">
				<div class="form-group">
					<label for="nome">Nome do Restaurante</label>
					<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome do Restaurante">
				</div>
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
	</div>

	<% include elements/footer %>